/* Common styles for both desktop and mobile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.wrapper {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Styles for desktop screens */
@media (min-width: 768px) {
    #pointToPointGraph {
        width: 100%;
        max-height: 400px;
    }
}

/* Styles for mobile screens */
@media (max-width: 767px) {
    #pointToPointGraph {
        width: 100%;
        max-height: 300px; /* Adjust the height for smaller screens */
    }

    h1 {
        font-size: 20px; /* Decrease font size for smaller screens */
    }

    .agricultural-heading {
        font-size: 24px; /* Adjust heading font size for smaller screens */
    }

    .not-raining {
        font-size: 16px; /* Adjust font size for smaller screens */
    }
}
