/* Default styles for larger screens */
.gradient-background1 {
    background: linear-gradient(300deg, #5fdf10, hsl(131, 92%, 46%), #2c84c8);
    background-size: 180% 180%; /* Use cover for responsive background size */
    animation: gradient-animation 12s ease infinite;
    height: auto; /* Set height to auto to adjust based on content */
    min-height: 440px; /* Set a minimum height for the gradient background */
    padding-bottom: 30px;
  }
 
  .gradient-background2 {
    background: linear-gradient(300deg, #5fdf10, hsl(131, 92%, 46%), #2c84c8);
    background-size: 180% 180%; /* Use cover for responsive background size */
    animation: gradient-animation 12s ease infinite;
    height: 300px; /* Set height to auto to adjust based on content */
  }
  
  .custom-button {
    background: linear-gradient(to bottom, #2fde08, #07730b);
    color: white;
    border: none;
  }
  
  .container {
    margin-bottom: 0px;
  }
  
  .nav-link {
    color: white;
  }
  
  .headingtext {
    margin-top: 0px;
    margin-bottom: 400px;
  }
  
  .wrapper {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .demo-video {
    width: 150%;
    max-width: 150%;
    height: auto;
    display: block;
    /* margin: 0 auto; */
    margin-left: 10px;
    border-radius: 10%;
  }
  
  .me-2 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @media (max-width: 768px) {
    .demo-video {
      width: 350px;
      margin-left: -1%;
    }
  }

  /* Media query for screens smaller than 768px (typical mobile screens) */
  @media (max-width: 768px) {
    .gradient-background2 {
        height: 870px; /* Adjust the height for smaller screens */
    }
  
    /* Add more specific mobile styles here */
  }
  
  /* CSS for Desktop and Larger Screens */
  @media (min-width: 768px) {
    .btn-responsive {
      margin-right: 2px; /* Adjust the margin between buttons as needed */
    }
  }
  
  /* CSS for Mobile Screens */
  @media (max-width: 767px) {
    .btn-responsive {
      margin-top: 10px; /* Add space above buttons for better spacing on mobile */
      width: 100%; /* Make buttons 100% width on mobile screens */
    }
  }
  
  
  